<div class="contenedor-head animate__animated animate__fadeIn">
    <h1>Desafio 3.0 </h1>
    <p>Seminarios | <em>Sabaneta 2021</em> | <a class="parpadea" href="https://myseminary.churchofjesuschrist.org/" target="_blank">mySeminary</a></p>
</div>
<main class="row">
    <div style class="row">

        <div *ngFor="let competidor of competidores; let indice=index" class="col l4 m6 s12  ">
            <mat-card class="example-card card animate__animated animate__fadeInUp" [ngClass]="{'mujer': competidores[indice].sexo === 'f'}">

                <mat-card-content class="contenedor-tajeta ">
                    <div *ngIf="competidor.puntaje === 100" class="contenedor-trofeo">
                        <img height="70" src="../../../assets/trofeo.png" alt=" ">
                    </div>
                    <div *ngIf="competidor.puntaje >= 88 && competidor.puntaje  < 100" class="contenedor-trofeo">
                        <img height="70" src="../../../assets/corona.png" alt=" ">
                    </div>
                    <div class="contenedor-foto">
                        <img mat-card-avatar src="../../../assets/{{competidor.foto}}.jpg" onerror="this.src='../../../assets/usuario.png'" alt=" ">
                    </div>
                    <div class="nombre ">
                        {{competidor.nombres}}
                    </div>
                    <div class="apellido ">
                        {{competidor.apellidos}}
                    </div>
                    <div class="puntaje test-shadow ">
                        {{competidor.puntaje}}
                    </div>
                    <div class="last-update">
                        Actualizado: {{competidor.lastUpdate}}
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</main>
<main>
    <div class="row">
        <mat-divider></mat-divider>
        <br>
        <div id="divChart">
            <canvas id="myChart" height="200"></canvas>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="col s12 alineacion">
            <h2>Sistema de Puntuación</h2>
            <p>Asistencia a clase de seminarios por 1 dia otorga 2 puntos</p>
            <p><em>Puntualidad (entrar a más tardar a las 6 pm a una clase) otorga 1 punto</em></p>
            <p>Activar la cámara durante una clase otorga 1 punto </p>
            <p>Participación por asignación en clase de seminarios por 1 dia (leer escrituras, responder preguntas, etc) otorga 1 punto</p>
            <p>Participación por iniciativa propia en la clase de seminarios (comentarios adicionales, ejemplos adicionales, testimonio, etc) por 1 dia otorga 1 punto</p>
            <p><em>Reportar su lectura por un día en mySeminary, otorga 3 puntos</em>, <a href="https://myseminary.churchofjesuschrist.org/" target="_blank">ir a mySeminary ahora</a> </p>
            <p><em>Completar el 100% de los registros posibles hasta la fecha en mySeminary otorga 15 puntos </em>, <a href="https://myseminary.churchofjesuschrist.org/" target="_blank">ir a mySeminary ahora</a> </p>
            <p>Aprender un dominio de las escrituras durante este desafío otorga 13 puntos</p>
            <p>Los puntos se registraran al finalizar cada clase</p>
            <br>
            <mat-divider></mat-divider>
            <br>
            <h2>Estimaciones</h2>
            <p>El Desafío 3.0 comprende las 8 clases entre el 6 y 16 de abril de 2021</p>
            <p>Puntos posibles al final del Desafío 100 puntos</p>
            <p>Puntos posibles por dia 9 puntos </p>
            <p>Sólo es posible presentar un dominio de escrituras durante el Desafío 3.0 que representará 13 puntos</p>
            <p><em>Completar el 100% de los registros posibles hasta la fecha en mySeminary otorgará 15 por una única
                    vez</em></p>
            <br>
            <mat-divider></mat-divider>
            <br>
            <h2>Premios por esfuerzo</h2>
            <p>Los alumnos que igualen o superen los 88 puntos recibiran un premio por su constancia y esfuerzo.</p>
            <p>Los alumnos que obtengan <span class="parpadea">100 puntos</span> obtendran una <span class="parpadea">placa</span> de reconocimiento por haber tenido un desempeño perfecto en el Desafío 3.0
            </p>
            <br>
            <mat-divider></mat-divider>
        </div>
    </div>
</main>
<br>
<main>
    <em>Dudas o reclamos -> &nbsp;</em>
    <a href="https://wa.link/9rryxy" target='_blanck'>
        <img width="100" src="http://1000marcas.net/wp-content/uploads/2019/11/WhatsApp-logo.png" alt="" srcset="">
    </a>
    <a href="https://wa.link/9rryxy" target='_blanck'>
        <img width="80" src="../../../assets/whatsapp.png" alt="" srcset="">
    </a>
</main>
<br>

<div class="footer">
    <p>Powered by Obispado Sabaneta</p>
</div>