<div class="contenedor-head animate__animated animate__fadeIn">
    <h1>Desafio 3.0 </h1>
    <p>Seminarios | <em>Sabaneta 2021</em></p>
</div>
<main class="row">
    <div style class="row">

        <div *ngFor="let participante of participantes; let indice=index" class="col l4 m6 s12  ">
            <mat-card class="example-card card animate__animated animate__fadeInUp" [ngClass]="{'mujer': participantes[indice].sexo === 'f'}">
                <div class=" detalles ">
                    Ver más
                </div>
                <mat-card-content class="contenedor-tajeta ">
                    <div class="contenedor-foto ">
                        <img mat-card-avatar src="../../../assets/{{participante.foto}}.png" onerror="this.src='../../../assets/usuario.png'" alt=" ">
                    </div>
                    <div class="nombre ">
                        {{participante.nombres}}
                    </div>
                    <div class="apellido ">
                        {{participante.apellidos}}
                    </div>
                    <div class="puntaje test-shadow ">
                        {{participante.puntaje}}
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</main>